*{
    margin: 0%;
    padding: 0%;
    text-decoration: none;
    list-style-type: none;   
    overflow: hidden; 
}
body{
    background-image: url(../imgs/vegetables.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.form{
   background-color: #2b894e; 
   height: 85vh;
border-radius: 50px;
}

.sign{
    font-size: 25px;
}
button{
    background-color: #D9D9D9;
    padding: 10px;
    border-radius: 30px;
}
.forget{
    width: 15%;
}
.forget a{
    color: #216335;
    text-decoration: underline;
    margin-left: 5px;
}

.start{
    color: #216335;
}
